extends ../layout.pug
include ../mixins/buttons.pug

block content
    form.container.text-center(action="/applications/captains/save" method="post")
        .row
            .col-sm
                h4 Hi #{user.username} you're applying for team captain for #{user.country.name}
                
        .row
            .col-sm
                .form-group
                    label Tell us why
                    textarea.form-control(maxlength="3000" name="reason" row="3" required) #{app && app.reason}

        .row
            .col-sm
                +submit-button(app ? 'Update' : 'Update')
