extends ../layout.pug
include ../mixins/buttons.pug

block content
    form.container.text-center(action="/applications/judges/save" method="post")
        .row.mb-2
            .col-sm
                .card
                    .card-body
                        h4 Hi #{user.username} you're applying to become a judge
                
        .row
            .col-sm
                .card
                    .card-body
                        .form-group
                            label Tell us why
                            textarea.form-control(maxlength="3000" name="reason" rows="10" required) #{app && app.reason}

        .row
            .col-sm
                +submit-button(app ? 'Update' : 'Apply')(class="btn-block")
