extends ../layout.pug

block content
    form.container(action="/applications/judges/store", method="post")
        .row
            .col.s12.center-align
                h4 Hi #{user.username} you're applying for judging
                
        .row
            .col.s12.center-align.input-field
                textarea.materialize-textarea(data-length="3000" name="reason" required)
                    if app
                        | #{app.reason}
                label Tell us why

        .row
            .col.s12.center-align
                button.btn.waves-effect.waves-light(type="submit")
                    if app 
                        | Update
                    else
                        | Apply! 
                    i.material-icons.right send
