extends ../layout.pug
include ../mixins/buttons.pug

block content
    .container.text-center
        .row
            .col-sm
                .card
                    .card-body
                        h4 Hi #{user.username} you're applying to be part of the team #{user.country.name} as a mapper

        .row
            .col-sm
                form(action="/applications/mappers/store", method="post")
                    +submit-button('Apply')(class="btn-block")
