extends ../../../layout.pug
include ../../../mixins/buttons.pug
include ../../../mixins/header.pug

block content
    .container.text-center
        +header('Manage Criterias')
        
        .row
            .col-sm
                table.table.table-hover.box
                    thead
                        tr
                            th Name
                            th Max Score
                            th
                    
                    tbody
                        each criteria in criterias
                            tr
                                td= criteria.name
                                td= criteria.maxScore
                                td
                                    +link-button('Edit', '/admin/judging/criterias/edit/' + criteria.id)
                
                +link-button('Create', '/admin/judging/criterias/create')(class="btn-block")
