extends ../../../layout.pug
include ../../../mixins/buttons.pug

block content
    .container.text-center
        form.row(action="/admin/judging/criterias/save" method="post")
            .col-sm-12
                h4 Manage Criteria

            .col-sm-6
                .form-group
                    input.form-control(type="text", name="name" maxlength="255" required value=(criteria && criteria.name))
                    label Name

            .col-sm-6
                .form-group
                    input.form-control(type="number", name="maxScore" min="0" step=".01" required value=(criteria && criteria.maxScore))
                    label Max Score

            .col-sm-12
                if criteria
                    input(type="hidden" name="criteriaId" value=criteria.id)
                
                +submit-button(criteria ? 'Update Criteria' : 'Submit Criteria')
