mixin header(title)
    .row.mb-2
            .col-sm
                .header
                    img(src="/img/logo.png" width="60" heigth="60")
                    h3.ml-2
                        = title
