extends ../../layout.pug
include ../../mixins/buttons.pug

block content
    .container.text-center
        form.row(action="/admin/rounds/save" method="post")
            .col-sm-12
                h4 Manage Round

            .col-sm-4
                .form-group
                    label Title
                    input.form-control(type="text", name="title" maxlength="255" required value=(round && round.title))

            .col-sm-4
                .form-group
                    label Information
                    textarea.form-control(maxlength="3000" rows="3" name="information")
                        = round && round.information

            .col-sm-4
                .form-group
                    label Anonymised .osz Link
                    input.form-control(type="text", name="anonymisedLink" maxlength="255" value=(round && round.anonymisedLink))

            .col-sm-6
                .form-group
                    label Submissions Start Date
                    input.form-control(type="date", name="submissionsStartedAt" required value=(round && round.submissionsStartedAt))

            .col-sm-6
                .form-group
                    label Submissions Start Date
                    input.form-control(type="date", name="submissionsEndedAt" required value=(round && round.submissionsEndedAt))

            .col-sm-6
                .form-group
                    label Judging Start Date
                    input.form-control(type="date", name="judgingStartedAt" required value=(round && round.judgingStartedAt))

            .col-sm-6
                .form-group
                    label Judging Start Date
                    input.form-control(type="date", name="judgingEndedAt" required value=(round && round.judgingEndedAt))

            .col-sm-12
                if round
                    input(type="hidden", name="roundId" value=round.id)

                +submit-button(round ? 'Update Round' : 'Submit Round')
