extends ../layout.pug
include ../mixins/buttons.pug

block content
    .container.text-center
        .row
            .col-sm
                if applications.length
                    table.table.table-hover
                        thead
                            tr
                                th Applicant
                                th Reason
                                th
                        tbody
                            each application in applications
                                tr
                                    td= application.user.username
                                    td= application.reason
                                    td
                                        if currentJudges.find(j => j.id === application.user.id)
                                            form(action="/admin/judgesChoice/destroy" method="post")
                                                input(type="hidden", name="userId" value=application.user.id)
                                                +submit-button('Remove')

                                        else
                                            form(action="/admin/judgesChoice/store" method="post")
                                                input(type="hidden", name="userId" value=application.user.id)
                                                +submit-button('Add')

                else
                    p No applications yet
