extends ../layout.pug
include ../mixins/buttons.pug

block content
    .container.text-center
        .row
            .col-sm
                h4 Update schedule to follow

        form.row.mb-2(action="/admin/schedule/save", method="post")
            .col-sm-6
                .form-group
                    label Applications Start Date
                    input.form-control(type="date", name="applicationsStartedAt" required value=(schedule && schedule.applicationsStartedAt))
            .col-sm-6
                .form-group
                    label Captain Applications End Date
                    input.form-control(type="date", name="captainApplicationsEndedAt" required value=(schedule && schedule.captainApplicationsEndedAt))
            .col-sm-6
                .form-group
                    label Captain Voting Start Date
                    input.form-control(type="date", name="captainVotingStartedAt" required value=(schedule && schedule.captainVotingStartedAt))
            .col-sm-6
                .form-group
                    label Captain Voting End Date
                    input.form-control(type="date", name="captainVotingEndedAt" required value=(schedule && schedule.captainVotingEndedAt))
            .col-sm-6
                .form-group
                    label Mappers Choice Start Date
                    input.form-control(type="date", name="mappersChoiceStartedAt" required value=(schedule && schedule.mappersChoiceStartedAt))
            .col-sm-6
                .form-group
                    label Mappers Choice End Date
                    input.form-control(type="date", name="mappersChoiceEndedAt" required value=(schedule && schedule.mappersChoiceEndedAt))
            .col-sm-6
                .form-group
                    label Mapper Applications End Date
                    input.form-control(type="date", name="mapperApplicationsEndedAt" required value=(schedule && schedule.mapperApplicationsEndedAt))
            .col-sm-6
                .form-group
                    label Judge Applications End Date
                    input.form-control(type="date", name="judgeApplicationsEndedAt" required value=(schedule && schedule.judgeApplicationsEndedAt))
            .col-sm-6
                .form-group
                    label Contest Start Date
                    input.form-control(type="date", name="constestStartedAt" required value=(schedule && schedule.constestStartedAt))
            .col-sm-6
                .form-group
                    label Contest End Date
                    input.form-control(type="date", name="constestEndedAt" required value=(schedule && schedule.constestEndedAt))
            .col-sm-12
                +submit-button(schedule ? 'Update Schedule': 'Submit Schedule')

        include ../mixins/info.pug
