extends ../../layout.pug
include ../../mixins/buttons.pug
include ../../mixins/header.pug

block content
    .container.text-center
        +header('Manage Submission')

        form.row.box(action="/admin/manageSubmissions/save" method="post")
            .col-sm-6
                .form-group
                    label Original Link
                    input.form-control(type="text", name="originalLink" maxlength="255" required value=submission.originalLink)

            .col-sm-6
                .form-group
                    label Anonymised As
                    input.form-control(type="text", name="anonymisedAs" maxlength="255" value=submission.anonymisedAs)
                    
            .col-sm-12
                input(type="hidden", name="submissionId" value=submission.id)

            +submit-button('Update Submission')(class="btn-block")