extends layout.pug

block content
    #app.container
        .row
            .col.s12.center-align
                h1 osu! Mapping World Cup

                if user
                    p #{user.username} #{user.country.name}
                    img(src=`https://osu.ppy.sh/images/flags/${user.country.code}.png`, alt="flag")
                else
                    form(action="/login" method="GET")
                        button(class="btn waves-effect waves-light" type="submit")
                            | Verify your osu! account to continue

        if user
            .row
                .col.s12.center-align
                    a(href="/applications/captains/edit" class="btn waves-effect waves-light")
                        if captainApplication
                            | Edit your team captain application
                        else
                            | Apply for team captain

            .row
                .col.s12.center-align
                    if mapperApplication
                        a(href="#" class="btn waves-effect waves-light disabled")
                            | You've applied as a mapper
                    else
                        a(href="/applications/mappers/edit" class="btn waves-effect waves-light")
                            | Apply as a mapper

            .row
                .col.s12.center-align
                    a(href="/applications/judges/edit" class="btn waves-effect waves-light")
                        if captainApplication
                            | Edit your judge application
                        else
                            | Apply as a judge
