extends layout.pug
include ./mixins/buttons.pug
include ./mixins/extras.pug

block content
    .container.text-center
        .row
            .col-sm
                .card
                    .card-body
                        if user
                            h3.card-title welcome #[b= user.username]
                            hr
                            .card-subtitle.mb-2 you're participating for #[b= user.country.name]
                            +img-flag(user.country.code)
                        else
                            h3.card-title osu! Mapping World Cup

                            form(action="/login" method="GET")
                                +submit-button('Verify your osu! account to continue')(class="btn-block")

        if user
            .row.my-2
                .col-sm
                    .card
                        .card-body
                            +link-button(
                                captainApplication ? 'Edit your team captain application' : 'Apply for team captain',
                                '/applications/captains/edit'
                            )(class="btn-block btn-lg")

                            if mapperApplication
                                +link-button-disabled(`You've applied as a mapper`)(class="btn-block btn-lg")
                            else
                                +link-button('Apply as a mapper', '/applications/mappers/edit')(class="btn-block btn-lg")

                            +link-button(
                                judgeApplication ? 'Edit your judge application' : 'Apply as a judge',
                                '/applications/judges/edit'
                            )(class="btn-block btn-lg")

                            hr

                            +link-button(
                                'Captain Voting',
                                '/captainVoting'
                            )(class="btn-block btn-lg")

                            +link-button(
                                'Mappers Choice',
                                '/mappersChoice'
                            )(class="btn-block btn-lg")

                            +link-button(
                                '.osz submissions',
                                '/submissions'
                            )(class="btn-block btn-lg")

                            hr

                            +link-button(
                                'Judging',
                                '/judging'
                            )(class="btn-block btn-lg")
