doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        
        //- Import Google Icon Font
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
        //- Compiled and minified CSS
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css")

        title osu! Mapping World Cup
    body
        nav
            div(class="nav-wrapper")
                a(href="/" class="brand-logo") o!mwc
                a(href="#" data-target="sidenav-list" class="sidenav-trigger")
                    i(class="material-icons") menu

                ul(class="right hide-on-med-and-down")
                    li
                        a(href="/") Home
                    li
                        a.dropdown-trigger(href="#!" data-target="admin-dropdown")
                            | Admin
                            i.material-icons.right arrow_drop_down

        ul#admin-dropdown.dropdown-content
            li
                a(href="/admin/schedule") Schedule
            li.divider
            li
                a(href="/admin/captainChoice") Captain Choice
            li
                a(href="/admin/teamsChoice") Teams Choice
            li
                a(href="/admin/judgesChoice") Judge Choice
            li.divider
            li
                a(href="/admin/judging/criterias") Criterias
            li.divider
            li
                a(href="/admin/rounds") Rounds
            li
                a(href="/admin/manageSubmissions") Submissions

        ul#admin-dropdown-sidenav.dropdown-content
            li
                a(href="/admin/schedule") Schedule
            li.divider
            li
                a(href="/admin/captainChoice") Captain Choice
            li
                a(href="/admin/teamsChoice") Teams Choice
            li
                a(href="/admin/judgesChoice") Judge Choice
            li.divider
            li
                a(href="/admin/judging/criterias") Criterias
            li.divider
            li
                a(href="/admin/rounds") Rounds
            li
                a(href="/admin/manageSubmissions") Submissions

        ul#sidenav-list.sidenav
            li
                a(href="/") Home
            li
                a.dropdown-trigger(href="#!" data-target="admin-dropdown-sidenav")
                    | Admin
                    i.material-icons.right arrow_drop_down
        
        block content
        
        //- Compiled and minified JavaScript
        script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js")
        script.
            document.addEventListener('DOMContentLoaded', function() {
                M.AutoInit();
            });

        block scripts
