extends layout.pug
include ./mixins/extras.pug

block content
    .container.text-center
        .row
            .col-sm
                h4 Leaderboard

        .row
            .col-sm
                if teams
                    table.table.table-hover
                        thead
                            tr
                                th #
                                th Team
                                th Final Score
                                th Eliminated On
                        tbody
                            each team, i in teams
                                tr
                                    td= i + 1
                                    td #[+inline-flag(team.country.code)] #{team.country.name}
                                    td= team.score
                                    td= team.eliminationRound && team.eliminationRound.title
