extends layout.pug
include ./mixins/extras.pug

block content
    .container.text-center
        .row.mb-2
            .col-sm
                .card
                    .card-body
                        h4 Leaderboard

        if teams
            .row
                .col-sm
                    .card
                        .card-body
                            table.table.table-hover
                                thead
                                    tr
                                        th #
                                        th Team
                                        th Final Score
                                tbody
                                    each team, i in teams
                                        tr(class=team.eliminationRound && 'team-eliminated')
                                            td= i + 1
                                            td.d-flex.justify-content-center.align-items-center
                                                | #[+inline-flag(team.country.code)] 
                                                .ml-2 #{team.country.name}
                                            td= team.score
