extends layout.pug
include ./mixins/extras.pug
include ./mixins/header.pug

block content
    .container.text-center
        +header('Staff')

        .row.mb-2.staff
            - 
                const staff = [
                    { osuId: 2628870, username: 'Chaos', title: 'Organizer, Manager' },
                    { osuId: 6100837, username: 'Imakuri', title: 'Organizer, Manager' },
                    { osuId: 3076909, username: 'Regraz', title: 'Organizer, Statistician' },
                    { osuId: 2716981, username: 'Nozhomi', title: 'Organizer, Statistician' },
                    { osuId: 2850983, username: 'Pachiru', title: 'Organizer, Manager' },
                    { osuId: 6485263, username: 'Electoz', title: 'Helper' },
                ];
            
            each user in staff
                .col-sm-3.mb-2
                    +user-avatar(user.osuId)
                    div #[+user-link(user.username)]
                    i.small= user.title

        if judges
            +header('Judges')

            .row.staff
                each user in judges
                    .col-sm-3.mb-2
                        +user-avatar(user.osuId)
                        div #[+user-link(user.username)]
