extends layout.pug
include ./mixins/extras.pug
include ./mixins/header.pug

block content
    .container.text-center
        +header('Teams')

        if teams
            each team in teams
                .row.team
                    .col-sm-3.team__country
                        +img-flag(team.country.code)
                        h5.mb-0.ml-2= team.country.name
                    .col-sm-9.team__members
                        .row
                            each user in team.users
                                .col-sm
                                    +user-avatar(user.osuId)
                                    div #[+user-link(user.username)]
